[submodule "foundation"]
	path = foundation
	url = git@github.com:alcir-junior-caju/study-go-expert-foundation.git
[submodule "packages"]
	path = packages
	url = git@github.com:alcir-junior-caju/study-go-expert-packages.git
[submodule "context"]
	path = context
	url = git@github.com:alcir-junior-caju/study-go-expert-context.git
[submodule "database"]
	path = database
	url = git@github.com:alcir-junior-caju/study-go-expert-database.git
[submodule "challenge-api"]
	path = challenge-api
	url = git@github.com:alcir-junior-caju/study-go-expert-api-challenge.git
[submodule "packaging"]
	path = packaging
	url = git@github.com:alcir-junior-caju/study-go-expert-packaging.git
[submodule "testing"]
	path = testing
	url = git@github.com:alcir-junior-caju/study-go-expert-testing.git
[submodule "apis"]
	path = apis
	url = git@github.com:alcir-junior-caju/study-go-expert-apis.git
