[submodule "foundation"]
	path = foundation
	url = git@github.com:alcir-junior-caju/study-go-expert-foundation.git
[submodule "packages"]
	path = packages
	url = git@github.com:alcir-junior-caju/study-go-expert-packages.git
[submodule "context"]
	path = context
	url = git@github.com:alcir-junior-caju/study-go-expert-context.git
[submodule "database"]
	path = database
	url = git@github.com:alcir-junior-caju/study-go-expert-database.git
[submodule "challenge-api"]
	path = challenge-api
	url = git@github.com:alcir-junior-caju/study-go-expert-api-challenge.git
[submodule "packaging"]
	path = packaging
	url = git@github.com:alcir-junior-caju/study-go-expert-packaging.git
[submodule "testing"]
	path = testing
	url = git@github.com:alcir-junior-caju/study-go-expert-testing.git
[submodule "apis"]
	path = apis
	url = git@github.com:alcir-junior-caju/study-go-expert-apis.git
[submodule "multithreading"]
	path = multithreading
	url = git@github.com:alcir-junior-caju/study-go-expert-multithreading.git
[submodule "events"]
	path = events
	url = git@github.com:alcir-junior-caju/study-go-expert-events.git
[submodule "graphql"]
	path = graphql
	url = git@github.com:alcir-junior-caju/study-go-expert-graphql.git
[submodule "grpc"]
	path = grpc
	url = git@github.com:alcir-junior-caju/study-go-expert-grpc.git
[submodule "upload-s3"]
	path = upload-s3
	url = git@github.com:alcir-junior-caju/study-go-expert-upload-s3.git
[submodule "cobra-cli"]
	path = cobra-cli
	url = git@github.com:alcir-junior-caju/study-go-expert-cobra-cli.git
[submodule "sqlc"]
	path = sqlc
	url = git@github.com:alcir-junior-caju/study-go-expert-sqlc.git
[submodule "uow"]
	path = uow
	url = git@github.com:alcir-junior-caju/study-go-expert-uow.git
[submodule "di"]
	path = di
	url = git@github.com:alcir-junior-caju/study-go-expert-di.git
[submodule "deploy-k8s"]
	path = deploy-k8s
	url = git@github.com:alcir-junior-caju/study-go-expert-deploy-k8s.git
[submodule "clean-architecture"]
	path = clean-architecture
	url = git@github.com:alcir-junior-caju/study-go-expert-clean-architecture.git
[submodule "graceful-shutdown"]
	path = graceful-shutdown
	url = git@github.com:alcir-junior-caju/study-go-expert-graceful-shutdown.git
[submodule "panic-recover"]
	path = panic-recover
	url = git@github.com:alcir-junior-caju/study-go-expert-panic-recover.git
